@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
}

.header-logo {
    padding-left: 100px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
} 

.header-container {
    display: flex;
    padding-left: 450px ;
}

.header-container div {
    height: 100px;
    flex: 0 0 auto;
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 15px;
  }

.hero {
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
}

.hero-container {
    width: 450px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

.placeholder {
    background-color: grey;
    color: white;
    height: 200px;
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    margin-left: 50px;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}